<!DOCTYPE html>
<html>
<head>
	<title>Ideas</title>
</head>
<body>
	<h1>All ideas for <%= current_user.username %></h1>
	<table>
		<thead>
			<tr>
				<th>Idea</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<% @ideas.each do |idea| %>
			<tr></tr>
				<td><%= idea.title %></td>
				<td><%= idea.body %></td>	
			<% end %>
		</tbody>
	</table>
</body>
</html>