<!DOCTYPE html>
<html>
<head>
	<title>Ideas</title>
</head>
<body>
	<h1>All ideas for <%= current_user.username %></h1>
	<% @ideas.each do |idea| %>
	<ul>
		<li>Idea: <%= idea.title %></li>
		<li>Descpription: <%= idea.body %></li>
	</ul>
	<% end %>
</body>
</html>