<!DOCTYPE html>
<html>
<head>
	<title>All Images</title>
</head>
<body>
	<ul>
	<% @images.each do |img| %>
		<li class="image_#{img.id}">
		<%= image_tag img.image.url(:standard) %>
		<%= img.name %>
		<%= link_to "Delete", admin_image_path(img), method: :delete %>	
		</li>
	<% end %>
	</ul>
</body>
</html>